#xrandr --setprovideroutputsource modesetting NVIDIA-0
#xrandr --auto
xrandr --output eDP-1 --mode 1920x1080

setxkbmap us

feh --bg-fill $HOME/Downloads/goat-at-pilatus-switzerland-wallpaper-for-3840x2160-4k-136-872.jpg

xsetroot -cursor_name left_ptr

#Run the cpp preprocesser to allow "define" statements in .Xdefaults
xrdb $HOME/.Xdefaults

# use ibus + rime input method
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon --xim -r -d

libinput-gestures-setup start
