#xrandr --setprovideroutputsource modesetting NVIDIA-0
#xrandr --auto
xrandr --output eDP-1 --mode 1920x1080

setxkbmap us

feh --bg-fill $HOME/Downloads/Archlabs-Wallpapers-master/Archlabs-Wallpapers-master/dreamscape-5000x3000.jpg

xsetroot -cursor_name left_ptr

#Run the cpp preprocesser to allow "define" statements in .Xdefaults
xrdb $HOME/.Xdefaults

# use ibus + rime input method
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon --xim -r -d
