alias def='sdcv -c'
alias vl='alsamixer'
alias l40='light -S 40'
alias lu20='light -A 20'
alias ld20='light -U 20'
alias lc='light -G'
alias rg10='rg -B 10 -A 10'
alias fmr='ranger'
alias pdfr='zathura --fork'
alias remap='xmodmap ~/.Xmodmap'
