DISABLE_LS_COLORS="true"
PURE_PROMPT_SYMBOL=">"
PURE_GIT_DOWN_ARROW="v"
PURE_GIT_UP_ARROW="^"
# typeset -U path
path=(~/bin ~/.local/bin $path)
export PATH
export LANG=en_US.UTF-8
export TERM=xterm-256color 
#export GOROOT=$HOME/.local/go-1.8.3
#export PATH=/opt/anaconda/bin:$PATH:$GOROOT/bin:$HOME/go/bin:/opt/cuda/bin
#
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
