[Unit]
Description=Fix touchpad after resuming suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe -r hid_rmi
ExecStart=/usr/sbin/modprobe hid_rmi

[Install]
WantedBy=suspend.target
